[VERSION]
major = 1
minor = 0
patch = 0
build = <UpdatedDuringBuild-DontChangeLocally>
branch = <UpdatedDuringBuild-DontChangeLocally>
buildtime = <UpdatedDuringBuild-DontChangeLocally>

[CONFIG]
project_name = org.espilce.commons
artifact_repo_url = https://artifact.manatree.io/artifactory/mde-libs-snapshot-local/espilce-commons
